html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.uk-sticky {
    background-color: white;
}

.rname { 
    margin-top: 0.5em;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color:black;
    text-align: center;
}

.uk-link, a {
    color: black;
    font-family: 'Indie Flower', cursive;
}

a:hover {
    text-decoration: none;
    color:black;
  }

.uk-button {
    margin-left: 2em;
    margin-right: 2em;
}

.uk-navbar {
    margin-bottom: 1em;
}

.update {
    color: red
}
/*-------------------------------- Hero Section -------------------- */

.heroimage {
    display: block;
    width: 100vw;
    height: auto;
    max-height: 85vh;
    margin-left: auto;
    margin-right: auto;
}

.herotext>h5 {
    color: black;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
}

.herotext {
    margin-top: 3em;
}

/*-------------------------------- About Section -------------------- */

#about, #gMap, #menu, #reviews {
    padding-top: 2em;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    scroll-margin-top: 10em;
}

/*-------------------------------- Menu Section -------------------- */

.sampleMenu {
   margin-right: -3vw;
}

.menuText {
    margin-right: 3vw;
}

/*-------------------------------- Review Cards -------------------- */

#user_review_stars {
    margin-left: 35%;
    margin-right: 35%;
}

.starTitle {
    text-align: center;
}

/*-------------------------------- Dashboard -------------------- */

#dashboard {
    margin-top: 7vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

#reviewModal {
text-align: center;
}

#edit_review_section {
    margin-top: 3vh;
    text-align: center;
}

#editStars {
    max-width: 25%;
}

#selectStars {
    max-width: 90%;
}

.userReservation, .userReviews {
    margin-bottom: 2em;
}

.buttonReservation {
    display: flex;
    margin-left: -2vw;
    margin-top: 2em;
    margin-bottom: 2em;
}

.buttonReview { 
    display: flex;
    justify-content: flex-end;
    margin-right: -1vw;
    margin-top: 2em;
    margin-bottom: 2em;
}
.reservation_date {
    text-align: center;
}

#map {
    height: 100%;
}