<section id="about">
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <img src="static/img/jamesmartin.jpg" class="chefimage" alt="Photo of James Martin, Executive Chef" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">James Martin Restaurants</h3>
                <p>In 2013 James Martin Manchester opened, providing modern British cuisine in industrial chic
                    surroundings it was listed in The Sunday Times Top 100 UK Restaurants for 2015/16.</p>
                <p>In 2017 The Kitchen Cookery School and restaurant opened, offering a range of inspiring classes and
                    stunning seasonal menus it’s the place to eat, meet, create and cook.</p>
                <p>In 2020 Pig in a Ginnel opened, a culmination of James' career, offering seasonal flavours from his
                    northern roots, to the centre of the south.</p>
            </div>
        </div>
    </div>
</section>