<section id="about">
  <div
    class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
    uk-grid
  >
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
      <img
        src="static/img/jamesmartin.jpg"
        class="chefimage"
        alt="Photo of James Martin, Executive Chef"
        uk-cover
      />
      <canvas width="900" height="600"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">James Martin - The Chef & His Restaurants</h3>
        <p>
          After catering college James worked in London under the guidance of
          chefs including Antony Worrall Thompson and Marco Pierre White. He
          also travelled around France working in chateaux kitchens and gaining
          experience in Michelin star establishments. On returning to England,
          he took up the position of junior pastry chef at the acclaimed, five
          Red Star, Chewton Glen. Just a few weeks short of his 22nd birthday,
          James opened the Hotel and Bistro du Vin in Winchester as head chef.
        </p>
        <p>
          In 2013 James Martin Manchester opened, providing modern British
          cuisine in industrial chic surroundings it was listed in The Sunday
          Times Top 100 UK Restaurants for 2015/16.
        </p>
        <p>
          In 2017 The Kitchen Cookery School and restaurant opened, offering a
          range of inspiring classes and stunning seasonal menus it’s the place
          to eat, meet, create and cook.
        </p>
        <p>
          In 2020 Pig in a Ginnel opened, a culmination of James' career,
          offering seasonal flavours from his northern roots, to the centre of
          the south.
        </p>
        <p>
          Outside of the kitchen James is a massive dog lover and owns two dogs,
          Ralph and Cooper. He is currently training Cooper as a full working
          dog. His beloved first dog Fudge, often seen on screen, died in 2015.
          He has a passion for cars, bikes, racing and planes. He raced in the
          Mille Miglia in 2007 and again in 2015 as part of the Jaguar team. He
          also holds a pilot’s licence and is currently learning to fly
          helicopters.
        </p>
      </div>
    </div>
  </div>
</section>
