{% extends "base.html" %}

{% block content %}

{% if g.user.profile.email == admin %}
<p>worked</p>
<p>worked</p>
<p>worked</p>
<p>Welcome back {{ g.user.profile.firstName }}</p>

{% else %}
<p>Not worked</p>
<p>Not worked</p>
<p>Not worked</p>
<p>Welcome {{ g.user.profile.firstName }}</p>

<section>
    {% for review in user_review %}
    <div class="userReviews">
        <div class="uk-card uk-card-default uk-width-1-2@m reviewCards">
            <div class="uk-card-header">
                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-expand starTitle">
                        <h3 class="uk-card-title uk-margin-remove-bottom">
                            {% if review.stars == "1" %}
                            <img style="max-width: 30%" src="static/img/1star.png" id="user_review_stars" alt="PNG of 1 Star">
                            {% elif review.stars == "2" %}
                            <img style="max-width: 30%" src="static/img/2star.png" id="user_review_stars" alt="PNG of 2 Star">
                            {% elif review.stars == "3" %}
                            <img style="max-width: 30%" src="static/img/3star.png" id="user_review_stars" alt="PNG of 3 Star">
                            {% elif review.stars == "4" %}
                            <img style="max-width: 30%" src="static/img/4star.png" id="user_review_stars" alt="PNG of 4 Star">
                            {% elif review.stars == "5" %}
                            <img style="max-width: 30%" src="static/img/5star.png" id="user_review_stars" alt="PNG of 5 Star">
                            {% endif %}</h3>
                        <p class="uk-text-meta uk-margin-remove-top review_date">{{ review.date }}</p>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p>You said the following about your meal:</p>
                <p>{{ review.review }}</p>
            </div>
            <div class="uk-card-footer">
                <a href="#" class="uk-button uk-button-text">Edit this Review</a>
                <a href="#" class="uk-button uk-button-text">Delete this Review</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #reviewModal">Want to
    leave a review?</button>
<div id="reviewModal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <form method="POST" action="{{ url_for('add_review') }}">
            <label for="stars">How many Stars would you give your meal?</label><br />
            <input class="uk-range" type="range" value="3" min="1" max="5" step="1" id="stars" name="stars"
                required /><br /><br />
            <label for="review">How was your meal?</label><br />
            <input type="text" id="review" name="review" required /><br /><br />
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="submit">Save</button>
        </form>

    </div>
</div>
{% endif %}

{% endblock %}