{% extends "base.html" %}

{% block content %}
<script>
    $(function () {
        $("#datepicker").datepicker({
            minDate: +1,
            maxDate: "+2M +10D"
        });
        $("#datepicker").datepicker("option", "dateFormat", "dd-mm-yy");
    });
</script>

<section id="dashboard">
    {% if g.user.profile.email == admin %}
    <p>Welcome back {{ g.user.profile.firstName }}</p>
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
      <p>{{ message }}<p>
    {% endfor %}
    {% endwith %}


    <div class="uk-flex-center" uk-grid>
        <div class="uk-width-1-2@m dashResSection">

            {% for reservation in admin_reservation %}

            {% include 'admin_reservations.html' %}

            {% endfor %}
        </div>

        <div class="uk-width-1-2@m dashReviewSection">
            {% for review in admin_review %}

            {% include 'dashboard_reviews.html' %}

            {% endfor %}
        </div>
    </div>

    {% else %}
    <p>Welcome {{ g.user.profile.firstName }}</p>
    <button class="uk-button uk-button-default"
        href="https://dev-5976059.okta.com/enduser/settings">
        Edit Account Details</button>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
      <p>{{ message }}<p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="uk-flex-center" uk-grid>
        <div class="uk-width-1-2@m dashResSection">
            <div class="buttonReservation">
                <button class="uk-button uk-button-default uk-margin-small-right bookButton" type="button"
                    uk-toggle="target: #reservationModal">
                    Book a Reservation
                </button>
            </div>
            <div id="reservationModal" uk-modal>
                <div class="uk-modal-dialog uk-modal-body">
                    <div class="uk-card uk-card-default editReview">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">When would you like to join us?
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card-body">
                            <form method="POST" action="{{ url_for('add_reservation') }}">
                                <p>Date: <input class="uk-input" name="date" type="text" id="datepicker"
                                        pattern="^(0[1-9]|[1-9]|[12][0-9]|3[01])\-(0[1-9]|[1-9]|1[012])\-(19|20)\d\d$" onkeydown="return false" required 
                                        oninvalid="this.setCustomValidity('We need to know when you would like to visit')"
                                        oninput="this.setCustomValidity('')"/>
                                </p>
                                <div class="uk-margin">
                                    <select name="slot" class="uk-select">
                                        <option>14:00-17:00</option>
                                        <option>18:30-21:30</option>
                                    </select>
                                </div>
                                <div class="uk-margin">
                                    <input class="uk-input" name="covers" type="text"  pattern="^(0[1-9]|[1-9]|[12][0-9]|3[00])$" placeholder="How many guests?" required 
                                    oninvalid="this.setCustomValidity('Please enter an integer between 1 and 30')"
                                    oninput="this.setCustomValidity('')"/>
                                </div>
                                <div class="uk-margin">
                                    <textarea class="uk-textarea" rows="5" id="requirements" name="requirements" type="text"
                                        placeholder="Any special requirements? Or is this a special occasion?" minlength="5" maxlength="1500" ></textarea></textarea><br /><br />
                                </div>
                                <div class="uk-card-footer">
                                    <button class="uk-button uk-button-default uk-modal-close submit-button"
                                        type="button">Cancel</button>
                                    <button class="uk-button uk-button-primary submit-button" type="submit">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% for reservation in user_reservation %}

            {% include 'dashboard_reservations.html' %}

            {% endfor %}
        </div>

        <div class="uk-width-1-2@m dashReviewSection">
            <div class="buttonReview">
                <button class="uk-button uk-button-default uk-margin-small-right reviewButton" type="button"
                    uk-toggle="target: #reviewModal">
                    Want to leave a review?
                </button>
            </div>
            <div id="reviewModal" uk-modal>
                <div class="uk-modal-dialog uk-modal-body">
                    <div class="uk-card uk-card-default editReview">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">How did we do?</h3>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card-body">
                            <form method="POST" action="{{ url_for('add_review') }}">
                                <div class="uk-margin">
                                    <label class="starsTitle" for="stars">How many Stars would you give your
                                        meal?</label><br />
                                </div>
                                <img src="{{url_for('static', filename='/img/5star.png')}}" align="middle"
                                    class=refStars />
                                <input class="uk-range" style="width: 81%" type="range" value="3" min="1" max="5"
                                    step="1" id="selectStars" name="stars" required /><br /><br />
                                <label for="review">How was your meal?</label>
                                <div class="uk-margin">
                                    <textarea class="uk-textarea" rows="5" id="review" name="review"
                                        placeholder="What did we do well, and what can we do to improve?"
                                        minlength="50" maxlength="1500" required></textarea></textarea><br /><br />
                                </div>
                                <div class="uk-card-footer">
                                    <button class="uk-button uk-button-default uk-modal-close submit-button"
                                        type="button">Cancel</button>
                                    <button class="uk-button uk-button-primary submit-button" type="submit">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% for review in user_review %}

            {% include 'dashboard_reviews.html' %}

            {% endfor %}
        </div>
    </div>
    {% endif %}
</section>
{% endblock %}