{% extends "base.html" %}

{% block content %}
<script>
    $(function() {
        $("#datepicker").datepicker({
            minDate: +1,
            maxDate: "+1M +10D",
        });
        $("#datepicker").datepicker("option", "dateFormat", "dd-mm-yy")
        $("#datepicker").datepicker('setDate', $("#datepicker").val("{{ reservation.shown_date }}"));
    });
</script>

{% if g.user.profile.email == reservation.email %}
<section id="edit_review_section">
    <div class="uk-card-body">
        <div class="uk-card uk-card-default editReview">
            <form method="POST" action="{{ url_for('edit_reservation', reservation_id=reservation._id) }}">
                <div class="margined">
                    <p>Date: <input name="date" type="text" id="datepicker"
                            pattern="^(0[1-9]|[1-9]|1[012])\-(0[1-9]|[1-9]|[12][0-9]|3[01])\-(19|20)\d\d$"
                            onkeydown="return false" required></p>
                </div>
                <div class="margined">
                    <select name="slot" class="uk-select">
                        {% if reservation.slot == "14:00-17:00" %}
                        <option selected>14:00-17:00</option>
                        <option>18:30-21:30</option>
                        {% else %}
                        <option>14:00-17:00</option>
                        <option selected>18:30-21:30</option>
                        {% endif %}
                    </select><br /><br />
                </div>
                <div class="margined">
                    <p>How many Guests?</p>
                    <input class="uk-input" name="covers" type="text" pattern="^(0[1-9]|[1-9]|[12][0-9]|3[00])$"
                        value="{{ reservation.covers }}" required
                        oninvalid="this.setCustomValidity('Please enter an integer between 1 and 30')"
                        oninput="this.setCustomValidity('')" />
                </div>
                <div class="margined">
                    <textarea class="uk-textarea" rows="5" id="requirements" name="requirements"
                        placeholder="Any special requirements? Or is this a special occasion?" minlength="5"
                        maxlength="1500">{{ reservation.requirements }}</textarea></textarea><br /><br />
                </div>
                <div class="uk-card-footer">
                    <a class="uk-button uk-button-default uk-modal-close submit-button"
                        href="{{ url_for('dashboard') }}">Cancel</a>
                    <button class="uk-button uk-button-primary submit-button" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
    {% else %}
    <div class="error">

        <p>Nothing to be found here</p>

        <a class="uk-button uk-button-secondary" href="/">Return Home</a>
    </div>
</section>

{% endif %}
{% endblock %}