<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/css/uikit.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        {% block styles %}
        {% endblock %}
        <title>Pig In A Ginnel</title>
    </head>
    <body>
        <header id="navsection">
            <div class="uk-sticky" uk-sticky="offset: 50; bottom: #viewport">
                <div class="hero-title">
                    <a href="{{ url_for('index') }}">
                        <h1 class="rname">Pig in a Ginnel</h1>
                    </a>
                    <hr>
                </div>
                <nav class="uk-navbar">
                    <div class="uk-navbar-center">
                        <ul class="uk-navbar-nav">
                            <li>
                                <a href="{{ url_for('index', _anchor='about') }}"">About</a>
                            </li>
                            <li>
                                <a href="{{ url_for('index', _anchor='menu') }}">Menu</a>
                            </li>
                            <li>
                                <a href="{{ url_for('index', _anchor='reviews') }}">Reviews</a>
                            </li>
                            <li>
                                <a href="">My Bookings</a>
                            </li>
                            <li>
                                <a href="">Make a Reservation</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        
        {% include 'hero.html' %}
        {% include 'about.html' %}
        {% include 'menu.html' %}
        {% include 'reviews.html' %}
        
        <footer></footer>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/js/uikit-icons.min.js"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
