<section id="gMap">
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <div id="map"></div>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Where to Find Us</h3>
                <p>
                    Pig in a Ginnel
                </p>
                <p>
                    34-35 Southampton St, Covent Garden
                </p>
                <p>
                    London WC2E 7HG
                </p>
                <p>
                    Monday - Sunday 14:00-22:00
                </p>
            </div>
        </div>
    </div>
</section>