<section id="menu">
    <div class="menuText uk-child-width-expand@l" uk-grid>
        <div>
            <h3>Our Menus</h3>
            <p>
                As the seasons change, so too does the availability of the ingredients we use in our food. We have no
                set dates for this and we never change the whole menu at once. Instead, the menu evolves as different
                produce from our Yorkshire farms becomes available to us.
            </p>
            <p>
                Our tasting menu offers a selection of courses that James and the team believe best showcases the
                current harvest from the farm, alongside produce that’s been preserved throughout the year. Or for those
                with smaller appetites or limited time, an express menu is also available. Both the tasting and express menus can be enjoyed with an optional drinks package, served
                alongside courses.
            </p>
            <p>
                Our express menu costs £60, or £100 with the optional drinks pairing.
            </p>
            <p>
                Our tasting menu costs £100, or £170 with the optional drinks pairing.
            </p>
            <p>
                Given the fluctuating nature of our menu, here are two sample menus, as to give an idea of how our meal is structured, but these 
                are not necessarily the menus you will receive for your reservation.
            </p>
        </div>
        <div class="uk-grid-item-match">
            <ul class="uk-tab titles" uk-switcher="animation: uk-animation-fade">
                <li><a class="uk-button uk-button-text"
                    href="#"><h3 class="menuTitle">Sample Express Menu</h3></a></li>
                <li><a class="uk-button uk-button-text"
                    href="#"><h3 class="menuTitle">Sample Tasting Menu</h3></a></li>
            </ul>
            <ul class="uk-switcher">
                <li>
                    <div
                        class="expressMenu uk-card uk-card-default uk-card-body uk-description-list uk-description-list-divider">
                        <dt>Smoked Eel, Whey, Chive</dt>
                        <dd>Classic Cuvee, Charles Palmer 2014 (Sussex, England)</dd>
                        <dt>Scallop, Sour Honey, Pickled Mussel</dt>
                        <dd>Le Faite Saint Mont, Producteurs Plaimont 2016 (Gascony, France)</dd>
                        <dt>Lamb, Jerusalem Artichoke, Black Garlic</dt>
                        <dd>Geronimo, Lukas Van Loggerenberg 2017 (Western Cape, South Africa)</dd>
                        <dt>Damson & Kernel</dt>
                        <dd>Bedstraw Sangria</dd>
                    </div>
                </li>
                <li>
                    <div
                        class="sampleMenu uk-card uk-card-default uk-card-body uk-description-list uk-description-list-divider">
                        <dt>Smoked Eel, Whey, Chive</dt>
                        <dd>Classic Cuvee, Charles Palmer 2014 (Sussex, England)</dd>
                        <dt>‘Taco’ Quail, Fermented Celeriac</dt>
                        <dd>Brut, Palmer & Co (Epernay, France)</dd>
                        <dt>Oldstead Salad</dt>
                        <dd>O Con Albarino, Rose Lois Sebio 2018 (Rias Baixas, Spain)</dd>
                        <dt>Scallop, Sour Honey, Pickled Mussel</dt>
                        <dd>Le Faite Saint Mont, Producteurs Plaimont 2016 (Gascony, France)</dd>
                        <dt>Lamb, Jerusalem Artichoke, Black Garlic</dt>
                        <dd>Geronimo, Lukas Van Loggerenberg 2017 (Western Cape, South Africa)</dd>
                        <dt>Apple, Brown Butter, Rosehip</dt>
                        <dd>Lambic Bio, Cantillon (Brussels, Belgium)</dd>
                        <dt>Rhubarb, Raw Milk, Jerusalem Artichoke</dt>
                        <dd>Rhubarb & Bedstraw Sangria</dd>
                        <dt>Black Trumpet Madeleine</dt>
                        <dd>Aperitif of your choosing</dd>
                    </div>
                </li>
            </ul>
        </div>
        
    </div>
</section>