<section id="menu">
    <div class="menuText uk-child-width-expand@s" uk-grid>
        <div>
            <h3>Our Menus</h3>
            <p>
                As the seasons change, so too does the availability of the ingredients we use in our food. We have no
                set dates for this and we never change the whole menu at once. Instead, the menu evolves as different
                produce from our Yorkshire farms becomes available to us.
            </p>
            <p>
                Our tasting menu offers a selection of courses that James and the team believe best showcases the
                current harvest from the farm, alongside produce that’s been preserved throughout the year. Or for those
                with smaller appetites or limited time, a shorter lunch menu is also available from Thursday to
                Saturday. Both the lunch and tasting menus can be enjoyed with an optional drinks package, served
                alongside courses.
            </p>
        </div>
        <div class="uk-grid-item-match">
            <div
                class="sampleMenu uk-card uk-card-default uk-card-body uk-description-list uk-description-list-divider">
                <h3>Sample Menu</h3>
                <dt>Smoked Eel, Whey, Chive</dt>
                <dd>Classic Cuvee, Charles Palmer 2014 (Sussex, England)</dd>
                <dt>Cod Cheek, Fermented Honey, Pickled Mussel</dt>
                <dd>Le Faite Saint Mont, Producteurs Plaimont 2016 (Gascony, France)</dd>
                <dt>Lamb, Jerusalem Artichoke, Black Garlic</dt>
                <dd>Abadia da Cova, Moure 2016 (Ribeira Sacra, Spain)</dd>
                <dt>Damson & Kernel</dt>
                <dd>Bedstraw Sangria</dd>
            </div>
        </div>
    </div>
</section>