<nav class="uk-navbar">
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
            <li>
                <a class="navButton" href="{{ url_for('index', _anchor='about') }}">About</a>
            </li>
            <li>
                <a class="navButton" href="{{ url_for('index', _anchor='menu') }}">Menu</a>
            </li>
            <li>
                <a class="navButton" href="{{ url_for('index', _anchor='reviews') }}">Reviews</a>
            </li>
            <li>
                <a class="navButton" href="{{ url_for('index', _anchor='gMap') }}">Find Us</a>
            </li>
            {% if not g.user %}
            <li>
                <a class="navButton" href="/login">Login/Make a Reservation</a>
            </li>
            {% else %}
            <li>
                <a class="navButton" href="/dashboard">My Bookings & Reviews</a>
            </li>
            <li>
                <a class="navButton" href="/logout">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>