<div id="offcanvas-nav-primary" uk-offcanvas="flip: true overlay: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">
        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            <li>
                <a class="uk-active" href="{{ url_for('index', _anchor='about') }}">About</a>
            </li>
            <li>
                <a class="uk-active" href="{{ url_for('index', _anchor='menu') }}">Menu</a>
            </li>
            <li>
                <a class="uk-active" href="{{ url_for('index', _anchor='reviews') }}">Reviews</a>
            </li>
            <li>
                <a class="uk-active" href="{{ url_for('index', _anchor='gMap') }}">Find Us</a>
            </li>
            {% if not g.user %}
            <li>
                <a class="uk-active" href="/login">Login/Make a Reservation</a>
            </li>
            {% else %}
            <li>
                <a class="uk-active" href="/dashboard">My Bookings & Reviews</a>
            </li>
            <li>
                <a class="uk-active" href="/logout">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>