<section id="reviews">
    <div class="uk-child-width-1-3@m" uk-grid
        uk-scrollspy="cls: uk-animation-slide-top; target: .uk-card; delay: 300; repeat: true">
        {% for review in reviews %}
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                
                    {% if review.stars == "1" %}
                    <img src="static/img/1star.png" id="reviewStars" alt="PNG of 1 Star">
                    {% elif review.stars == "2" %}
                    <img src="static/img/2star.png" id="reviewStars" alt="PNG of 2 Star">
                    {% elif review.stars == "3" %}
                    <img src="static/img/3star.png" id="reviewStars" alt="PNG of 3 Star">
                    {% elif review.stars == "4" %}
                    <img src="static/img/4star.png" id="reviewStars" alt="PNG of 4 Star">
                    {% elif review.stars == "5" %}
                    <img src="static/img/5star.png" id="reviewStars" alt="PNG of 5 Star">
                    {% endif %}</h3>
                <p>{{ review.firstName }} says:</p>
                <p>{{ review.review }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>