<section id="reviews">
    <div class="uk-child-width-1-3@m" uk-grid
        uk-scrollspy="cls: uk-animation-slide-top; target: .uk-card; delay: 300; repeat: true">
        {% for review in reviews %}
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title stars">
                    {% if review.stars == "1" %}
                    <p>1</p>
                    {% elif review.stars == "2" %}
                    <p>2</p>
                    {% elif review.stars == "3" %}
                    <p>3</p>
                    {% elif review.stars == "4" %}
                    <p>4</p>
                    {% elif review.stars == "5" %}
                    <p>5</p>
                    {% endif %}</h3>
                <p>{{ review.firstName }} says:</p>
                <p>{{ review.review }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>