<div id="reviews">
    <ul class="js-filter uk-child-width-1-3@m" uk-grid="masonry: true"
        uk-scrollspy="cls: uk-animation-slide-top; target: .uk-card; delay: 100; repeat: true">
        {% for review in reviews %}
        {% if review.stars == "1" %}
        <li class="tag-one">
            {% elif review.stars == "2" %}
        <li class="tag-two">
            {% elif review.stars == "3" %}
        <li class="tag-three">
            {% elif review.stars == "4" %}
        <li class="tag-four">
            {% elif review.stars == "5" %}
        <li class="tag-five">
            {% endif %}
            <div class="uk-card uk-card-default reviewCards">
                <div class="uk-card-header">
                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                        <div class="uk-width-expand starTitle">
                            <div class="uk-card-title uk-margin-remove-bottom">
                                {% if review.stars == "1" %}
                                <img src="static/img/1star.png" class="reviewStars" alt="PNG of 1 Star">
                                {% elif review.stars == "2" %}
                                <img src="static/img/2star.png" class="reviewStars" alt="PNG of 2 Star">
                                {% elif review.stars == "3" %}
                                <img src="static/img/3star.png" class="reviewStars" alt="PNG of 3 Star">
                                {% elif review.stars == "4" %}
                                <img src="static/img/4star.png" class="reviewStars" alt="PNG of 4 Star">
                                {% elif review.stars == "5" %}
                                <img src="static/img/5star.png" class="reviewStars" alt="PNG of 5 Star">
                                {% endif %}
                            </div>
                            <p class="uk-text-meta uk-margin-remove-top review_date">{{ review.date }}</p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <p>{{ review.firstName }} had this to say about their visit:</p>
                    <p>{{ review.review }}</p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>